:root {
    --brown: #E48A57;
    --gray: #EEF2F1;
    --gray-dark: #696969;
    --green: #2E7D87;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'buttons';

body {
    font-family: "Raleway";
    @apply tracking-wider;
}